### Imbalance Dataset

##### A dataset with an unequal class distribution

In [1]:
import pandas as pd
import numpy as np

In [2]:
#load dataset
df = pd.read_csv('creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [7]:
#Separrating the legit and fraudulant transactions
legit = df[df.Class == 0]
fraud = df[df.Class == 1]
print(legit.shape, fraud.shape)

(284315, 31) (492, 31)

In [8]:
#idea: create a new sample in which it contains similar distribution of legit and fraudulent transaction
legit_sample = legit.sample(n=492)
legit_sample.shape

(492, 31)

In [10]:
#concatinate the two dataframes(ie. legit_sample,fraud)
new_dataset = pd.concat([legit_sample,fraud],axis=0)
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
275718,166689.0,1.336538,-1.454110,-1.942915,0.300286,0.019802,0.035894,0.453765,-0.104133,0.465866,...,-0.052989,-0.963032,-0.069265,0.103846,-0.356158,0.303747,-0.166005,-0.008056,385.13,0
226402,144611.0,1.935829,-0.356121,-0.323273,0.182275,-0.696961,-0.809285,-0.335033,-0.173119,1.338771,...,-0.139595,-0.240772,0.317610,0.025645,-0.340893,-0.875350,0.056016,-0.020983,35.98,0
24761,33372.0,-0.972620,-0.319224,3.232150,-1.222722,-1.461216,0.034129,-0.592142,0.250034,0.128368,...,-0.460043,-0.519620,-0.164993,0.770033,0.151315,0.918367,-0.100591,0.076602,10.00,0
83020,59656.0,1.254225,-0.056855,0.934108,0.649653,-0.552550,0.200456,-0.553218,0.045405,0.771958,...,-0.134312,-0.102492,-0.083958,-0.380305,0.416957,0.364896,0.026518,0.020628,2.26,0
97361,66185.0,-9.271350,-0.652237,-2.738126,-2.794451,-4.104597,0.387410,4.736889,-2.011125,5.818632,...,-2.010345,0.407846,-0.393845,0.611957,0.921236,-0.503051,-1.466060,3.476729,667.44,0

In [ ]:
new_dataset['Class']